extends layout

block content
  div(class="notification")

    p(id="visitors")

      span="Number of visitors:"

      span(id="visitor-counter")

    p(id="notification-text")

  div(class="game")

    table(class="grid")

      tr(class="row-1")
        td(class="col-a available")
        td(class="col-b available")
        td(class="col-c available")

      tr(class="row-2")
        td(class="col-a available")
        td(class="col-b available")
        td(class="col-c available")

      tr(class="row-3")
        td(class="col-a available")
        td(class="col-b available")
        td(class="col-c available")
