extends layout

block content
    h1= title
        p
            form(method="POST", action="/start-game")
                label( for="username")
                    input(type="text", name="username", placeholder="Player 1")

                input(type="submit", value="New Game")